<?xml version="1.0" encoding="UTF-8"?>
<arxius>
	<path>src/slider/imgs/</path>
	<arxiu>1.jpg</arxiu>
	<arxiu>2.jpg</arxiu>
	<arxiu>3.jpg</arxiu>
	<arxiu>4.jpg</arxiu>
	<arxiu>5.jpg</arxiu>
	<arxiu>6.jpg</arxiu>
	<arxiu>7.jpg</arxiu>
	<arxiu>8.jpg</arxiu>
	<arxiu>9.jpg</arxiu>
	<arxiu>10.gif</arxiu>
	<arxiu>11.gif</arxiu>
</arxius>