@charset "UTF-8";
:root {
  --white-1: #e7dede;
  --white-2: #f8f8f8;
  --white-3: #f4f4ed;
  --gray-1: #f1f1f1;
  --gray-2: #f1f1f1;
  --gray-3: #f7f7f7;
  --gray-4: #d2d2d2;
  --gray-5: #a7a8aa;
  --gray-6: #6b6c7b;
  --dark-1: #37373f;
  --dark-2: #202020;
  --dark-3: #1d1d1d;
  --dark-4: #141414;
  --dark-5: rgb(20, 20, 20);
  --blue-1: #48dbfd;
  --blue-2: #49d3f8;
  --blue-3: #34309f;
  --orange-1: #ff8d2f;
  --orange-2: #cf9e75;
  --brown-1: #614f4f;
  --brown-2: #4c4034;
  --red-1: #ff7575;
  --red-2: #940005;
  --gold-1: #695131;
  --green-1: rgb(0, 255, 0);
}
:root.light {
  --home-sec-1-bg: var(--gray-5);
  --home-sec-1-gradient: var(--gray-2);
  --home-sec-1-a-hover: var(--gray-6);
  --home-sec-2-bg: var(--gray-2);
  --home-sec-2-gradient: var(--gray-1);
  --home-sec-3-gradient: var(--orange-1);
  --gallery-sec-1-gradient: var(--orange-2);
  --gallery-sec-2-bg: var(--gray-4);
  --video-sec-1-gradient: var(--gray-4);
  --video-sec-2-border: var(--gray-2);
  --rankings-sec-1-gradient: var(--blue-1);
  --rankings-sec-2-gradient: var(--blue-2);
  --rankings-sec-2-border: var(--gray-2);
  --contact-sec-1-bg: var(--gray-5);
  --contact-sec-2-bg: var(--gray-4);
  --contact-errors-bg: var(--dark-5);
  --contact-errors-fg: var(--red-1);
  --contact-errors-h2: var(--white-1);
  --contact-correct-fg: var(--green-1);
  --h1: var(--dark-2);
  --h2: var(--dark-2);
  --h3: var(--dark-2);
  --h4: var(--dark-1);
  --sub: var(--dark-3);
  --p: var(--dark-3);
  --a: var(--dark-3);
  --a-hover: var(--gray-5);
  --hr: var(--dark-2);
  --focus: var(--dark-3);
  --btn-bg: var(--dark-2);
  --btn-fg: var(--white-1);
  --btn-border: var(--dark-2);
  --btn-bg-hover: var(--gray-1);
  --btn-fg-hover: var(--dark-5);
  --table-fg: var(--dark-2);
  --table-caption: var(--gray-5);
  --table-header: var(--gray-4);
  --table-rows: var(--white-1);
  --table-hover: var(--gray-4);
  --form-label: var(--dark-2);
  --form-input-bg: var(--white-1);
  --form-input-fg: var(--dark-1);
  --form-input-border: var(--dark-1);
  --header-bg: var(--gray-2);
  --header-fg: var(--dark-3);
  --footer-bg: var(--gray-1);
}
:root.dark {
  --home-sec-1-bg: var(--dark-1);
  --home-sec-1-gradient: var(--dark-3);
  --home-sec-1-a-hover: var(--gray-5);
  --home-sec-2-bg: var(--brown-1);
  --home-sec-2-gradient: var(--dark-1);
  --home-sec-3-gradient: var(--red-2);
  --gallery-sec-1-gradient: var(--brown-2);
  --gallery-sec-2-bg: var(--brown-1);
  --video-sec-1-gradient: var(--gold-1);
  --video-sec-2-border: var(--dark-3);
  --rankings-sec-1-gradient: var(--blue-3);
  --rankings-sec-2-gradient: var(--blue-2);
  --rankings-sec-2-border: var(--dark-3);
  --contact-sec-1-bg: var(--dark-1);
  --contact-sec-2-bg: var(--brown-1);
  --contact-errors-bg: var(--dark-5);
  --contact-errors-fg: var(--red-1);
  --contact-errors-h2: var(--white-1);
  --contact-correct-fg: var(--green-1);
  --h1: var(--white-1);
  --h2: var(--white-1);
  --h3: var(--white-1);
  --h4: var(--gray-2);
  --sub: var(--white-2);
  --p: var(--white-2);
  --a: var(--white-2);
  --a-hover: var(--gray-5);
  --hr: var(--gray-2);
  --focus: var(--white-1);
  --btn-bg: var(--white-1);
  --btn-fg: var(--dark-2);
  --btn-border: var(--white-1);
  --btn-bg-hover: var(--dark-2);
  --btn-fg-hover: var(--white-1);
  --table-caption: var(--dark-4);
  --table-fg: var(--white-2);
  --table-header: var(--dark-2);
  --table-rows: var(--dark-1);
  --table-hover: var(--dark-2);
  --form-label: var(--white-2);
  --form-input-bg: var(--dark-1);
  --form-input-fg: var(--white-1);
  --form-input-border: var(--dark-1);
  --header-bg: var(--dark-2);
  --header-fg: var(--gray-2);
  --footer-bg: var(--dark-3);
}

/* 
    Document   : reset
    Created on : 04/10/2013, 11:55:06
    Author     : alfredo
    Description:
        Purpose of the stylesheet follows.
*/
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}

/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: icomoon;
  src: url("../font/icomoon/fonts/icomoon.ttf") format("truetype");
}
header {
  background-color: var(--header-bg);
  color: var(--header-fg);
}
header img {
  width: 15%;
  height: 15%;
}
header span {
  font-size: 1.5rem;
  font-weight: bold;
}
header .icon {
  font-size: 1.75rem;
}
header nav ul li a {
  color: var(--a);
}
header nav ul li:last-child {
  margin-right: 0;
}

*:focus {
  outline: 2px solid var(--focus);
  border-radius: 5px;
}

h1 {
  color: var(--h2);
  font-size: 4rem;
  font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
  font-weight: bold;
}

h2 {
  color: var(--h2);
  font-size: 1.5rem;
  font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
  font-weight: bold;
}

h3 {
  color: var(--h3);
  font-size: 2.5rem;
  font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
}

p {
  color: var(--p);
  font-size: 0.95rem;
  font-family: Montserrat Regular, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  color: var(--a);
  font-size: 1.1rem;
  font-family: Montserrat SemiBold, Verdana, sans-serif;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
a:hover {
  color: var(--a-hover);
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

blockquote {
  color: var(--p);
  font-size: 0.95rem;
  font-style: italic;
  font-weight: bold;
  font-family: Montserrat Regular, Verdana, sans-serif;
  line-height: 1.5;
}

.icon {
  color: var(--header-fg);
  font-family: "icomoon";
  font-weight: normal;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
.icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--a-hover);
}
.icon:before {
  content: "\e9d5";
}

.sub {
  color: var(--h4);
  font-size: 1.5rem !important;
  font-family: Montserrat Bold, Verdana, sans-serif;
  font-weight: bold;
}

footer {
  background-color: var(--footer-bg);
}
footer h2 {
  color: var(--h4);
  font-size: 1.25rem;
  font-family: Montserrat Bold, Verdana, sans-serif;
}
footer hr {
  border: 1px solid var(--hr);
  width: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form fieldset {
  border: 2px solid var(--hr);
  padding: 1rem;
  margin-bottom: 1rem;
}
form fieldset legend {
  font-family: Montserrat Regular, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 0rem 0.25rem;
  font-weight: bold;
  color: var(--form-label);
}
form fieldset label {
  font-family: Montserrat Regular, Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--form-label);
}
form fieldset input, form fieldset select, form fieldset textarea {
  font-family: Montserrat Regular, Verdana, sans-serif;
  font-size: 0.9rem;
  padding: 1.5%;
  background-color: var(--form-input-bg);
  border: 1px solid var(--form-input-border);
  color: var(--form-input-fg);
}
form fieldset textarea {
  height: 7rem;
}
form .fieldset-2 {
  border-bottom: none;
  margin: 0;
}
form .fieldset-3 {
  border-top: none;
  margin-top: -0.45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form .fieldset-3 legend {
  font-family: Montserrat Regular, Verdana, sans-serif;
  font-size: 0.9rem;
  padding: 0;
  font-weight: bold;
  color: var(--form-label);
}
form .fieldset-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form .fieldset-4 input[type=checkbox] {
  width: 15px;
}
form #errors {
  display: none;
  font-family: Montserrat Regular, Verdana, sans-serif;
  background-color: var(--contact-errors-bg);
  border: 2px solid var(--contact-errors-fg);
  padding: 0 1rem 1rem 1rem;
}
form #errors h2 {
  color: var(--contact-errors-h2);
}
form #errors ul {
  list-style-type: disc;
  list-style-position: inside;
}
form #errors ul li {
  color: var(--contact-errors-fg);
  font-weight: bold;
  margin-bottom: 0.35rem;
}
form #correct {
  display: none;
  background-color: var(--contact-errors-bg);
  border: 2px solid var(--contact-correct-fg);
  padding: 1rem;
}
form #correct p {
  color: var(--contact-correct-fg);
  font-weight: bold;
  margin-bottom: 0;
}
form input[type=submit] {
  font-size: 1.15rem;
  width: 30%;
  padding: 1.75%;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 767px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(60px, auto);
    padding: 0% 2.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header span {
    grid-column: 1/3;
  }
  header .icon {
    grid-column: 3;
    justify-self: end;
  }
  header nav {
    grid-column: 1/4;
    grid-row: 2;
    justify-self: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(60px, auto);
    padding: 0% 2.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header span {
    grid-column: 1/3;
  }
  header .icon {
    grid-column: 3;
    justify-self: end;
  }
  header nav {
    grid-column: 1/4;
    grid-row: 2;
    justify-self: start;
  }
}
@media screen and (min-width: 1025px) {
  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    padding: 0% 2.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header span {
    grid-column: 1;
  }
  header .icon {
    grid-column: 2;
    justify-self: end;
  }
  header nav {
    grid-column: 3/5;
    justify-self: end;
  }
}
@media screen and (max-width: 767px) {
  footer section {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: minmax(100px, auto);
    padding: 2.5% 5% 0% 5%;
    gap: 30px;
  }
  footer section .explorar {
    grid-column: 1;
    grid-row: 1;
  }
  footer section .asistencia {
    grid-column: 1;
    grid-row: 2;
  }
  footer section .info {
    grid-column: 1;
    grid-row: 3;
  }
  footer section p {
    grid-column: 1;
    grid-row: 4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer section {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: minmax(100px, auto);
    padding: 2.5% 5% 0% 5%;
    gap: 30px;
  }
  footer section .explorar {
    grid-column: 1;
    grid-row: 1;
  }
  footer section .asistencia {
    grid-column: 2;
    grid-row: 1;
  }
  footer section .info {
    grid-column: 1/3;
    grid-row: 2;
  }
  footer section p {
    grid-column: 1;
    grid-row: 3;
  }
}
@media screen and (min-width: 1025px) {
  footer section {
    display: grid;
    grid-template-columns: 3;
    grid-auto-rows: minmax(100px, auto);
    padding: 2.5% 5% 0% 5%;
    gap: 30px;
  }
  footer section .explorar {
    grid-column: 1;
  }
  footer section .asistencia {
    grid-column: 2;
  }
  footer section .info {
    grid-column: 3;
  }
  footer section p {
    grid-column: 1;
    grid-row: 2;
  }
}
form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

@media screen and (max-width: 767px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .home .sec-1 {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0% 5%;
  }
  .home .sec-1 img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
  }
  .home .sec-1 article {
    grid-column: 1;
    grid-row: 2;
  }
  .home .sec-2 {
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 1.5% 5%;
  }
  .home .sec-2 #card-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .home .sec-2 #card-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .home .sec-3 {
    grid-column: 1/4;
    grid-row: 3;
    padding: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .home .sec-1 {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0% 5%;
  }
  .home .sec-1 img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
  }
  .home .sec-1 article {
    grid-column: 1;
    grid-row: 2;
  }
  .home .sec-2 {
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 1.5% 5%;
  }
  .home .sec-2 #card-1 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .home .sec-2 #card-2 {
    grid-column: 1/3;
    grid-row: 2;
  }
  .home .sec-3 {
    grid-column: 1/4;
    grid-row: 3;
    padding: 5%;
  }
}
@media screen and (min-width: 1025px) {
  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .home .sec-1 {
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0% 15%;
  }
  .home .sec-1 img {
    grid-column: 1;
    width: 100%;
    height: auto;
  }
  .home .sec-1 article {
    grid-column: 2;
  }
  .home .sec-2 {
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 1.5% 5%;
  }
  .home .sec-2 #card-1 {
    grid-column: 1;
  }
  .home .sec-2 #card-2 {
    grid-column: 2;
  }
  .home .sec-3 {
    grid-column: 1/4;
    grid-row: 3;
    padding: 5%;
  }
}
@media screen and (max-width: 767px) {
  .video {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .video video {
    grid-column: 1/7;
    grid-row: 2;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .video .sec-v1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .video .sec-v2 {
    grid-column: 2/6;
    grid-row: 2;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    height: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1.25% 0%;
  }
  .video .sec-v2 video {
    grid-row: 1;
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .video .sec-v2 iframe {
    grid-row: 2;
    width: 60%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .video {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .video video {
    grid-column: 1/7;
    grid-row: 2;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .video .sec-v1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .video .sec-v2 {
    grid-column: 2/6;
    grid-row: 2;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    height: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1.25% 0%;
  }
  .video .sec-v2 video {
    grid-row: 1;
    width: 65%;
    height: auto;
    margin: 0 auto;
  }
  .video .sec-v2 iframe {
    grid-row: 2;
    width: 65%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 1025px) {
  .video {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .video video {
    grid-column: 1/7;
    grid-row: 2;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .video .sec-v1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .video .sec-v2 {
    grid-column: 2/6;
    grid-row: 2;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    height: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1.25% 0%;
  }
  .video .sec-v2 video {
    grid-row: 1;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .video .sec-v2 iframe {
    grid-row: 2;
    width: 70%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 767px) {
  .rankings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .rankings .background {
    grid-column: 1;
    grid-row: 2;
  }
  .rankings .sec-r1 {
    grid-column: 1;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .rankings .sec-r2 {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    padding: 1.5% 0% 17% 0%;
  }
  .rankings .sec-r2 .container {
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .rankings .sec-r2 table img {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rankings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .rankings .background {
    grid-column: 1;
    grid-row: 2;
  }
  .rankings .sec-r1 {
    grid-column: 1;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .rankings .sec-r2 {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    padding: 1.5% 0% 15% 0%;
  }
  .rankings .sec-r2 .container {
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .rankings {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .rankings .background {
    grid-column: 1/7;
    grid-row: 2;
  }
  .rankings .sec-r1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .rankings .sec-r2 {
    grid-column: 2/6;
    grid-row: 2;
    align-self: center;
    padding: 1.5% 0% 15% 0%;
  }
  .rankings .sec-r2 .container {
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .contact .sec-c1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 1.25% 5%;
  }
  .contact .sec-c1 img {
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .contact .sec-c1 article {
    grid-column: 1;
    grid-row: 1;
  }
  .contact .sec-c2 {
    grid-column: 1;
    grid-row: 2;
    padding: 2.5% 5%;
  }
  .contact .sec-c2 form input[type=submit] {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .contact .sec-c1 {
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 1.25% 5%;
  }
  .contact .sec-c1 img {
    grid-column: 2;
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .contact .sec-c1 article {
    grid-column: 1;
  }
  .contact .sec-c2 {
    grid-column: 1/4;
    grid-row: 2;
    padding: 2.5% 5%;
  }
  .contact .sec-c2 form input[type=submit] {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .contact .sec-c1 {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 1.25% 5% 2.5% 5%;
  }
  .contact .sec-c1 img {
    grid-column: 2;
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .contact .sec-c1 article {
    grid-column: 1;
  }
  .contact .sec-c2 {
    grid-column: 2/4;
    grid-row: 2;
    padding: 2.5% 0%;
  }
  .contact .sec-c2 form input[type=submit] {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .gallery .sec-g1 {
    grid-column: 1;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .gallery .sec-g2 {
    grid-column: 1;
    grid-row: 2;
    padding: 2.5% 5%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 30px;
  }
  .gallery .sec-g2 #img-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .gallery .sec-g2 #img-3 {
    grid-column: 1;
    grid-row: 2;
  }
  .gallery .sec-g2 #img-4 {
    grid-column: 1;
    grid-row: 3;
  }
  .gallery .sec-g2 #img-5 {
    grid-column: 1;
    grid-row: 4;
  }
  .gallery .sec-g2 #img-6 {
    grid-column: 1;
    grid-row: 5;
  }
  .gallery .sec-g2 #img-7 {
    grid-column: 1;
    grid-row: 6;
  }
  .gallery .sec-g2 #img-8 {
    grid-column: 1;
    grid-row: 7;
  }
  .gallery .sec-g2 #img-9 {
    grid-column: 1;
    grid-row: 8;
  }
  .gallery .sec-g2 #img-10 {
    grid-column: 1;
    grid-row: 9;
  }
  .gallery .sec-g2 #img-11 {
    grid-column: 1;
    grid-row: 10;
  }
  .gallery .sec-g2 #img-12 {
    grid-column: 1;
    grid-row: 11;
  }
  .gallery .sec-g2 #img-13 {
    grid-column: 1;
    grid-row: 12;
  }
  .gallery .sec-g2 #img-14 {
    grid-column: 1;
    grid-row: 13;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .gallery .sec-g1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .gallery .sec-g2 {
    grid-column: 1/7;
    grid-row: 2;
    padding: 2.5% 5%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 30px;
  }
  .gallery .sec-g2 #img-1 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .gallery .sec-g2 #img-3 {
    grid-column: 1/3;
    grid-row: 2;
  }
  .gallery .sec-g2 #img-4 {
    grid-column: 1/3;
    grid-row: 3;
  }
  .gallery .sec-g2 #img-5 {
    grid-column: 1;
    grid-row: 4;
  }
  .gallery .sec-g2 #img-6 {
    grid-column: 2;
    grid-row: 4;
  }
  .gallery .sec-g2 #img-7 {
    grid-column: 1;
    grid-row: 5;
  }
  .gallery .sec-g2 #img-8 {
    grid-column: 2;
    grid-row: 5;
  }
  .gallery .sec-g2 #img-9 {
    grid-column: 1;
    grid-row: 6;
  }
  .gallery .sec-g2 #img-10 {
    grid-column: 2;
    grid-row: 6;
  }
  .gallery .sec-g2 #img-11 {
    grid-column: 1;
    grid-row: 7;
  }
  .gallery .sec-g2 #img-12 {
    grid-column: 2;
    grid-row: 7;
  }
  .gallery .sec-g2 #img-13 {
    grid-column: 1/3;
    grid-row: 8;
  }
  .gallery .sec-g2 #img-14 {
    grid-column: 1/3;
    grid-row: 9;
  }
}
@media screen and (min-width: 1025px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .gallery .sec-g1 {
    grid-column: 1/7;
    grid-row: 1;
    padding: 2.5% 5%;
  }
  .gallery .sec-g2 {
    grid-column: 1/7;
    grid-row: 2;
    padding: 2.5% 5%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 30px;
  }
  .gallery .sec-g2 #img-1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gallery .sec-g2 #img-3 {
    grid-column: 3;
    grid-row: 1;
  }
  .gallery .sec-g2 #img-4 {
    grid-column: 3;
    grid-row: 2;
  }
  .gallery .sec-g2 #img-5 {
    grid-column: 1;
    grid-row: 3;
  }
  .gallery .sec-g2 #img-6 {
    grid-column: 2;
    grid-row: 3;
  }
  .gallery .sec-g2 #img-7 {
    grid-column: 3;
    grid-row: 3;
  }
  .gallery .sec-g2 #img-8 {
    grid-column: 1/4;
    grid-row: 4;
  }
  .gallery .sec-g2 #img-9 {
    grid-column: 1;
    grid-row: 5;
  }
  .gallery .sec-g2 #img-10 {
    grid-column: 2/4;
    grid-row: 5/7;
  }
  .gallery .sec-g2 #img-11 {
    grid-column: 1;
    grid-row: 6;
  }
  .gallery .sec-g2 #img-12 {
    grid-column: 1;
    grid-row: 7;
  }
  .gallery .sec-g2 #img-13 {
    grid-column: 2;
    grid-row: 7;
  }
  .gallery .sec-g2 #img-14 {
    grid-column: 3;
    grid-row: 7;
  }
}
header nav li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
footer nav ul li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.btn {
  padding: 2.5% 5%;
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border: 1px solid var(--btn-border);
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-fg-hover);
}

.card {
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 25rem;
}
.card h2 {
  color: var(--h3);
  font-size: 2.5rem;
  font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
}
.card h3 {
  color: var(--p);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 0rem;
}
.card:hover {
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}

table {
  width: 100%;
  margin: 2% 0%;
  color: var(--table-fg);
  background-color: var(--table-rows);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  border-collapse: collapse;
  overflow: hidden;
}
table caption, table tfoot {
  background-color: var(--table-caption);
  color: var(--table-fg);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
  font-weight: bold;
}
table tr {
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
table tr:hover {
  background-color: var(--table-hover);
}
table tr th {
  background-color: var(--table-header);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
table tr td {
  padding: 1rem;
  font-size: 1.05rem;
  font-family: Montserrat Regular, Verdana, sans-serif;
  vertical-align: middle;
  word-wrap: break-word;
}
table tr td:nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}
table tr td:nth-child(3) {
  text-align: start;
}

.home .sec-1 {
  background-color: var(--home-sec-1-bg);
}
.home .sec-1 img:not(.arrow) {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), to(black));
  -webkit-mask-image: linear-gradient(to right, transparent, black);
          mask-image: -webkit-gradient(linear, left top, right top, from(transparent), to(black));
          mask-image: linear-gradient(to right, transparent, black);
}
.home .sec-1 article {
  -ms-flex-item-align: center;
      align-self: center;
}
.home .sec-1 article h1 {
  margin: 1rem 0rem;
}
.home .sec-1 article h2 {
  margin-bottom: 1rem;
  line-height: 1.75rem;
}
.home .sec-1 article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.home .sec-1 article div .arrow {
  width: 5%;
  height: auto;
}
.home .sec-1 article div a {
  margin-left: 0.75rem;
  font-weight: bolder;
}
.home .sec-1 article div a:hover {
  color: var(--home-sec-1-a-hover);
}
.home .sec-2 {
  background-color: var(--home-sec-2-bg);
}
.home .sec-2 #card-1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--home-sec-2-gradient)), to(transparent)), url("../img/ff13.jpeg");
  background-image: linear-gradient(to top, var(--home-sec-2-gradient), transparent), url("../img/ff13.jpeg");
  background-size: cover;
  background-position: center;
}
.home .sec-2 #card-2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--home-sec-2-gradient)), to(transparent)), url("../img/undertale.jpg");
  background-image: linear-gradient(to top, var(--home-sec-2-gradient), transparent), url("../img/undertale.jpg");
  background-size: cover;
  background-position: center;
}
.home .sec-3 {
  background-color: var(--home-sec-3-gradient);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, var(--home-sec-3-gradient)), to(transparent)), url("../img/red-dead-redemption-2.webp");
  background-image: linear-gradient(to right, var(--home-sec-3-gradient) 45%, transparent), url("../img/red-dead-redemption-2.webp");
  background-size: cover;
  background-position: center;
}
.home .sec-3 article {
  padding-right: 45%;
}
.home .sec-3 article h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home .sec-3 article p {
  font-size: 1.05rem;
  margin-bottom: 3rem;
}

.contact {
  background-color: var(--contact-sec-2-bg);
}
.contact .sec-c1 {
  background-color: var(--contact-sec-1-bg);
  color: var(--p);
}
.contact .sec-c1 article {
  padding-top: 3%;
}
.contact .sec-c1 article h1 {
  margin-bottom: 1rem;
}
.contact .sec-c1 article p {
  margin-top: 1rem;
  font-size: 1.05rem;
}
.contact .sec-c2 {
  background-color: var(--contact-sec-2-bg);
}
.contact .sec-c2 h2 {
  margin: 1rem 0rem;
}
.contact .sec-c2 .form-title {
  font-size: 2.5rem;
}
.contact .sec-c2 p {
  margin-bottom: 1rem;
}
.contact .sec-c2 hr {
  margin-bottom: 1rem;
  color: var(--hr);
}
.contact .sec-c2 form {
  margin-bottom: 0.9rem;
}

.video .sec-v1 {
  background-color: var(--video-sec-1-gradient);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, var(--video-sec-1-gradient)), to(transparent)), url("../img/dissidia.png");
  background-image: linear-gradient(to right, var(--video-sec-1-gradient) 45%, transparent), url("../img/dissidia.png");
  background-size: cover;
  background-position: center;
}
.video .sec-v1 article {
  padding-right: 45%;
}
.video .sec-v1 article h1 {
  margin-bottom: 1rem;
}
.video .sec-v1 article p {
  margin-top: 1rem;
  font-size: 1.05rem;
}
.video .sec-v2 video, .video .sec-v2 iframe {
  border: 5px solid var(--video-sec-2-border);
}
.video .sec-v2 iframe {
  margin-top: 1rem;
}

::cue {
  color: blue;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(238, 255, 0, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rankings .sec-r1 {
  background-color: var(--rankings-sec-1-gradient);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, var(--rankings-sec-1-gradient)), to(transparent)), url("../img/tetris.png");
  background-image: linear-gradient(to right, var(--rankings-sec-1-gradient) 45%, transparent), url("../img/tetris.png");
  background-size: cover;
  background-position: center;
}
.rankings .sec-r1 article {
  padding-right: 45%;
}
.rankings .sec-r1 article h1 {
  margin-bottom: 1rem;
}
.rankings .sec-r1 article p {
  margin-top: 1rem;
  font-size: 1.05rem;
}
.rankings .background {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(35%, var(--rankings-sec-2-gradient)), to(transparent)), url("../img/celeste-rankings.jpg");
  background-image: linear-gradient(to left, var(--rankings-sec-2-gradient) 35%, transparent), url("../img/celeste-rankings.jpg");
  background-size: cover;
  background-position: center;
}
.rankings .sec-r2 .imgs {
  display: grid;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: hex 20s linear infinite alternate;
          animation: hex 20s linear infinite alternate;
  position: relative;
}
.rankings .sec-r2 img {
  grid-area: 1/1;
  width: 160px;
  border: 5px solid #c9b398;
  -webkit-transform: rotate(var(--r)) translateY(95%) rotateX(-90deg) scale(-1);
          transform: rotate(var(--r)) translateY(95%) rotateX(-90deg) scale(-1);
}
.rankings .sec-r2 .imgs img:nth-child(1) {
  --r: 0deg;
}
.rankings .sec-r2 .imgs img:nth-child(2) {
  --r: 60deg;
}
.rankings .sec-r2 .imgs img:nth-child(3) {
  --r: 120deg;
}
.rankings .sec-r2 .imgs img:nth-child(4) {
  --r: 180deg;
}
.rankings .sec-r2 .imgs img:nth-child(5) {
  --r: 240deg;
}
.rankings .sec-r2 .imgs img:nth-child(6) {
  --r: 300deg;
}
@-webkit-keyframes hex {
  0%, 15% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(0deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(0deg);
  }
  20%, 30% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-60deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-60deg);
  }
  35%, 50% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-120deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-120deg);
  }
  55%, 70% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-180deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-180deg);
  }
  75%, 85% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-240deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-240deg);
  }
  90%, 100% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-300deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-300deg);
  }
}
@keyframes hex {
  0%, 15% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(0deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(0deg);
  }
  20%, 30% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-60deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-60deg);
  }
  35%, 50% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-120deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-120deg);
  }
  55%, 70% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-180deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-180deg);
  }
  75%, 85% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-240deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-240deg);
  }
  90%, 100% {
    -webkit-transform: perspective(444.44px) rotateX(-100deg) rotate(-300deg);
            transform: perspective(444.44px) rotateX(-100deg) rotate(-300deg);
  }
}

.gallery .sec-g1 {
  background-color: var(--gallery-sec-1-gradient);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, var(--gallery-sec-1-gradient)), to(transparent)), url("../img/juegos.jpg");
  background-image: linear-gradient(to right, var(--gallery-sec-1-gradient) 45%, transparent), url("../img/juegos.jpg");
  background-size: cover;
  background-position: center;
}
.gallery .sec-g1 article {
  padding-right: 45%;
}
.gallery .sec-g1 article h1 {
  margin-bottom: 1rem;
}
.gallery .sec-g1 article p {
  margin-top: 1rem;
  font-size: 1.05rem;
}
.gallery .sec-g2 {
  background-color: var(--gallery-sec-2-bg);
  color: var(--p);
}
.gallery .sec-g2 img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */