*{
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #EDDBC7;;
}

.contenedor-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
    gap: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

#header1{
    grid-column: 1 / 2;
    grid-row: 1;
}

#header2{
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

#header3{
    grid-column: 1 / 3;
    grid-row: 2;
}

#header4{
    grid-column: 1 / 3;
    grid-row: 3;
}

#header5{
    grid-column: 1 / 3;
    grid-row: 4;
}

.contenedor-main {
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
    flex: 1;
    min-height: calc(50vh - 10px);
}

.contenedor-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
    gap: 10px;
    grid-column: 1 / 3;
    grid-row: 1;
}

#footer1{
    grid-column: 1 / 2;
    grid-row: 1;
}

#footer2{
    grid-column: 2 / 3;
    grid-row: 1;
}

/* HEADER */

header {
    background-image: linear-gradient(rgba(167, 114, 125, 0.9), rgba(167, 114, 125, 0.9)), url("../img/entradas.gif");
    color: white;
    text-align: center;
    background-position: center;
    font-weight: bold;
}

#header1,
#header2,
#header3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#header1 {
    text-align: start;
}

#header2{
    text-align: end;
}

#header1,
#header2{
    padding-top: 10px;
}

#header3 {
    text-align: center;
}

#header4 {
	font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #F9F5E7;
}

#header5{
    padding: 20px 0px;
    background-color: #ffc8a5;
}

h1{
	margin-top: -30px;
    font-style: italic;
    color: white;
    font-size: 75px;
}

h2{
    color: #F9F5E7;
}

.header2-class {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

#header2 a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    background-color: #f8ead8;
    color: black;
    margin-right: 10px;
    cursor: pointer;
}

#header2 .a-login{
	margin-right: 0px;
}
	
#header2 img{
	height: 42.5px;
	border-radius: 50%;
}

#header2 a:hover{
    background-color: #A7727D;
    border-color: white;
    color: white;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:first-child a {
    padding-left: 0px;
}

header nav ul li a {
    padding-right: 15px;
    padding-left: 15px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-right: 2px solid black;
}

header nav ul li:last-child a {
    border-right: none;
}

header nav ul li a:hover {
    color: #A7727D;
}

/* MAIN */
main h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    border-bottom: 3px solid black;
    color: black;
}

main p {
    padding-top: 10px;
    font-size: 18px;
    color: black;
    text-align: justify;
}

#desc1{
	padding-bottom: 10px;
}

main a{
    padding: 10px;
    text-decoration: none;
}

main article{
    display: flex;
    border: 2px solid black;
    background-color: #F8EAD8;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: black;
}

main article:hover{
    background-color: #A7727D;
    border-color: white;
    color: white;
}

main article:hover p, main article:hover h3 {
	color: white;
	border-color: white;
}

main article img{
    width: 280px;
    height: auto;
    margin-right: 30px;
    border: 1px solid black;
}

main h3{
	text-align: center;
	color: black;
	font-size: 20px;
	font-style: italic;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}

.text h3{
	text-align: start;
	font-style: normal;
    font-size: 35px;
    border-bottom: 3px solid black;
}

.text h4{
	margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
}

.text p{
    padding-top: 10px;
    font-size: 20px;
}

/* FOOTER */

#footer1{
    text-align: start;
}

#footer2{
    text-align: end;
}

footer {
    background-color: #A7727D;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: auto;
}

footer .p1{
    text-align: start;
    padding-top: 40px;
}

footer p{
    padding-top: 40px;
}

/* ERROR */

.main-sign-error-img {
	text-align: center;
	padding: 15px 0px 0px 0px;
}

.main-sign-error-img img {
	width: 200px;
	height: auto;
}

.main-error-text h3 {
	font-size: 50px;
	padding-bottom: 5px;
}

.main-error-text p {
	text-align: center;
	font-size: 20px;
}

/* CONTACTE */
#form-contacte{
	margin-top: 10px;
	padding-bottom: 10px;
}

#form-contacte form {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-contacte h2 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #7f89c2;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#form-contacte .form-img{
	text-align: center;
}

#form-contacte label{
	font-style: italic;
	font-weight: 525;
	font-size: 15px;
	margin-top: 5px;
}

#form-contacte img{
	height: 100px;
}

#form-contacte input[type="text"],
#form-contacte input[type="email"],
#form-contacte input[type="password"],
#form-contacte textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-sizing: border-box;
}

#form-contacte textarea{
  height: 125px;
}

#form-contacte input[type="submit"] {
  width: 100%;
  background-color: #7f89c2;
  font-size: 20px;
  color: #fff;
  padding: 12px;
  margin-top: 7px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form-contacte input[type="submit"]:hover {
  background-color: #5d648f;
}

#form-contacte a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #7f89c2;
}

.error {
  color: rgb(246, 97, 81);
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.valid {
  color: greenyellow;
  text-align: center;
  font-size: 15px;
  padding-top: 0;
}

.errors{
	text-align: center;
}

.contacte-input{
	padding-bottom: 10px;
	text-align: center;
	margin-top: 20px;
}

.contacte-input a{
	border: 2px solid #7f89c2;
    border-radius: 5px;
    padding: 10px;
    background-color: #545668;
    color: white;
}

#form-contacte a:hover{
	cursor: pointer;
	color: #5d648f;
}

/* SINGUP */
#form-singup{
	margin-top: 10px;
	padding-bottom: 10px;
}

#form-singup form {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(20px, auto);
  gap: 5px;
}

#form-singup h2 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #7f89c2;
  padding-bottom: 10px;
  margin-bottom: 20px;
  grid-column: 1 / 3;
}

#form-singup h3{
	color: rgb(84, 86, 104);
	border: none;
	grid-column: 1 / 3;
	padding: 0px;
}

#form-singup .form-img{
	text-align: center;
}

#form-singup img{
	height: 100px;
}

#form-singup label{
	font-style: italic;
	font-weight: 525;
	font-size: 15px;
	margin-top: 5px;
}

#form-singup input[type="text"],
#form-singup input[type="email"],
#form-singup input[type="password"],
#form-singup input[type="date"],
#form-singup input[type="file"],
#form-singup select {
  width: 100%;
  padding: 12px;
  margin: 5px 0px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-sizing: border-box;
}

#form-singup select{
	padding: 10.75px;
}

.sEmail{
	grid-column: 1 / 3;
}

.sContrasenya{
	grid-column: 1 / 3;
}

.sNumeroIdent{
	grid-column: 1 / 2;
}

.sNumeroIdent{
	grid-column: 2 / 3;
}

.sAdreca{
	grid-column: 1 / 3;
}

.sImatge{
	grid-column: 1 / 3;
}

.sH3{
	margin-top: 15px;
}

.sLink{
	grid-column: 1 / 3;
}

#form-singup input[type="submit"] {
  width: 100%;
  background-color: #7f89c2;
  font-size: 20px;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: 1 / 3;
  margin-top: 5px;
}

#form-singup input[type="submit"]:hover {
  background-color: #5d648f;
}

#form-singup a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #7f89c2;
}

#form-singup a:hover{
	cursor: pointer;
	color: #5d648f;
}

/* CORRECT */
.main-sign-correct-img{
	text-align: center;
}

.main-sign-correct img {
    height: 206px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.main-sign-correct h3 {
    border: none;
    font-size: 70px;
    color: #00ba00;
}

.main-sign-correct p{
	text-align: justify;
	font-size: 20px;
}

.main-sign-correct-text-a{
	padding-top: 30px;
	text-align: center;
	font-size: 25px;
}

.main-sign-correct-text-a a{
	color: white;
}

.main-sign-correct-text-a a:hover{
	color: #00ba00;
}

/* ACTIVE */
.main-sign-active-img{
	text-align: center;
}

.main-sign-active img {
    height: 206px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.main-sign-active h3 {
    border: none;
    font-size: 70px;
    color: #5eac24;
}

.main-sign-active p{
	text-align: justify;
	font-size: 20px;
}

.main-sign-active-text-a{
	padding-top: 30px;
	text-align: center;
	font-size: 25px;
}

.main-sign-active-text-a a{
	color: white;
}

.main-sign-active-text-a a:hover{
	color: #7f89c2;	align-items: center;
	width: 100%;
}

/* ENTRADA */

.contenedor-entrada{
	width: 100%;
    min-width: 600px;
    max-width: 1400px;
    margin: 0px auto;
    flex: 1;
    min-height: calc(50vh - 10px);
}

#fe-div{
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

#form-entrada {
	background-color: #f8f9fa;
	border: 2px solid black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 45%;
	display: flex;
	flex-direction: column;
}

.fe-inputs{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
}

.fe-sInputs{
	display: flex;
	justify-content: center;
}

#form-entrada label{
	font-style: italic;
	font-size: 15px;
}

#form-entrada h2{
	color: black;
	background-color: rgb(211, 211, 211);
	border-bottom: 2px solid black;
	padding: 10px;
}

#form-entrada input, select {
	width: 100%;
	padding: 12px;
	margin: 10px 0px;
	border: 1px solid #ced4da;
	border-radius: 6px;
	box-sizing: border-box;
}

#form-entrada #cancelar, #form-entrada #enviar {
	background-color: #7f89c2;
	width: 50%;
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 10px;
	border-radius: 4px;
	font-size: 20px;
	transition: background-color 0.3s;
}

#form-entrada #enviar:hover{
	background-color: #5d648f;
}

#form-entrada #cancelar {
	margin-right: 10px;
	background-color: rgb(154, 153, 150);
}

#form-entrada #cancelar:hover{
	background-color: rgb(119, 118, 123);
	
}

#tEntrada .mInputs{
	width: 115px;
	height: 50px;
}

#tEntrada .mInputs img{
	height: 40px;
	width: auto;
}

#tEntrada .mInputs a{
	padding: 7px;
}

#tEntrada td{
	text-align: center;
}

#tEntrada img{
	width: 25%;
	height: auto;
}

#eCamps{
	display: grid;
	grid-column: 3;
	grid-auto-rows: minmax(100px, auto);
	gap: 10px;
}

#eF{
	grid-column: 1;
}

#eB{
	grid-column: 2;
}

#eD{
	grid-column: 3;
}