*{
    padding: 0px;
    margin: 0px;
    box-sizing: box-sizing;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.body-ticket {
	background-color: #EDDBC7 !important;
}

.contenedor-main {
    width: 100%;
    min-width: 600px;
    max-width: 1400px;
    margin: 0px auto;
    flex: 1;
    min-height: calc(50vh - 10px);
}

.contenedor-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    min-width: 600px;
    max-width: 1400px;
    margin: 0px auto;
    gap: 10px;
    grid-column: 1 / 3;
    grid-row: 1;
}

/* HEADER */

header {
	padding-top: 20px;
	background-image: linear-gradient(rgba(167, 114, 125, 0.9), rgba(167, 114, 125, 0.9)), url("../img/entradas.gif");
    color: white;
    text-align: center;
    background-position: center;
    font-weight: bold;
}

#footer1{
    grid-column: 1 / 2;
    grid-row: 1;
}

#footer2{
    grid-column: 2 / 3;
    grid-row: 1;
}

h1{
    font-style: italic;
    color: white;
    font-size: 75px;
}

h2{
    color: #F9F5E7;
}

.header-login {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 264px;
}

.button {
	border: 2px solid black;
    background-color: #F8EAD8;
    color: black;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.button:hover {
	background-color: #ef4c23;
    border-color: white;
    color: white;
}

header nav {
	background-color: #ffc8a5;
	padding: 15px;
	margin-top: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}


header nav ul li a {
	padding: 0px 15px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-right: 2px solid black;
}

header nav ul li:first-child a {
	border-left: 2px solid black;
}

header nav ul li a:hover {
    color: #ef4c23;
}

/* MAIN */

main h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    border-bottom: 3px solid black;
    color: black;
}

main p {
    padding-top: 10px;
    font-size: 18px;
    color: black;
    text-align: justify;
}

#desc1{
	padding-bottom: 10px;
}

main a{
    padding: 10px;
    text-decoration: none;
}

main article{
    display: flex;
    border: 2px solid black;
    background-color: #F8EAD8;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: black;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

main article:hover{
    background-color: #A7727D;
    border-color: white;
    color: white;
}

main article:hover p, main article:hover h3 {
	color: white;
	border-color: white;
}

main article img{
    width: 280px;
    height: auto;
    margin-right: 30px;
    border: 1px solid black;
}

.text h3{
	text-align: start;
	font-style: normal;
    font-size: 35px;
    border-bottom: 3px solid black;
}

.text h4{
	margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
}

.text p{
    padding-top: 10px;
    font-size: 20px;
}

/* FOOTER */

#footer1{
    text-align: start;
}

#footer2{
    text-align: end;
}

footer {
    background-color: #A7727D;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: auto;
}

footer .p1{
    text-align: start;
    padding-top: 40px;
}

footer p{
    padding-top: 40px;
}

/* ERROR */

.main-sign-error-img {
	text-align: center;
	padding: 15px 0px 0px 0px;
}

.main-sign-error-img img {
	width: 200px;
	height: auto;
}

.main-error-text h3 {
	font-size: 50px;
	padding-bottom: 5px;
}

.main-error-text p {
	text-align: center;
	font-size: 20px;
}

/* VENDA */

.main-venda {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px, auto);
	padding: 20px 8px 20px 0px;
	gap: 30px;
}

.main-venda .text {
	grid-column: 1;
	grid-row: 1;
}

.main-venda img {
	grid-column: 2;
	grid-row: 1;
	align-self: start;
	width: 100%;
	border: 5px solid black;
	border-radius: 7px;
	box-shadow: 0.3rem 0.3rem 0 hsl(20 100% 58% / 1);
}

.main-venda form {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	width: 50%;
}

.main-venda form input, .main-venda form select {
	padding: 10px;
	margin-bottom: 15px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 15px;
}

.main-venda form input:focus, .main-venda form select:focus {
	box-shadow: 0.3rem 0.3rem 0 hsl(20 100% 58% / 1);
	outline: #f2f0ed;
}

.main-venda form input[type="submit"] {
	font-weight: bold;
}

.main-venda form input[type="submit"]:hover {
	cursor: pointer;
	background-color: lightgray;
	transition: background-color 0.2s ease;
}

.main-venda-events {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px, auto);
	padding: 20px 10px 40px 0px;
	gap: 30px;
}

.main-venda-events button {
	background-color: transparent;
	padding: 0;
	border: none;
}

.event {
	display: flex;
	flex-direction: column;
	background-color: #ffc8a5;
	border: 5px solid black;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	box-shadow: 0.3rem 0.3rem 0 hsl(20 100% 58% / 1);
	transition: filter 0.35s ease
}

.event img {
	width: 100%;
	border-bottom: 5px solid black;
}

.event .text {
	padding: 20px;
}

.event .text h3 {
	font-size: 25px;
}

.event .text p {
	font-size: 18px;
}

.event:hover {
	filter: grayscale(100%);
	cursor: pointer;
}

.p-entrada {
	margin-bottom: 30px;
}

.p-entrada-error {
	margin-bottom: 15px;
}

.entrada-errors {
	padding-top: 20px;
}

.error-list {
	list-style-position: inside;
	margin-bottom: 30px;
}

.main-venda .text .button {
	margin-right: 15px;
}

/* USER */

.form {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}

.form form {
	width: 40%;
	align-self: center;
	justify-self: center;
	
	display: flex;
	flex-direction: column;
	
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
}

.form form h2 {
	padding-top: 0px;
}

.form form .form-img {
	margin: 15px auto;
	text-align: center;
}

.form form fieldset {
	display: flex;
	flex-direction: column;
	border: 3px solid #ef4c23;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form form fieldset legend {
	font-size: 18px;
	font-weight: bold;
	margin-left: 42%;
	padding: 0px 5px;
}

.form form img {
	width: auto;
	height: 150px;
	border: 5px solid black;
	border-radius: 7px;
	box-shadow: 0.3rem 0.3rem 0 hsl(20 100% 58% / 1);
}

.form form label {
	font-size: 16px;
	margin-left: 2.5%;
	font-weight: bold;
}

.form form input {
    padding: 12px;
    margin: 5px 0px 20px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
    align-self: center;
    font-size: 16px;
    background-color: #f2f0ed;
}

.form form input:focus {
	box-shadow: 0.3rem 0.3rem 0 hsl(20 100% 58% / 1);
	outline: #f2f0ed;
}

.form form input[type="submit"] {
	cursor: pointer;
	width: 30%;
	align-self: center;
	font-weight: bold;
}

.form form input[type="submit"]:hover {
	cursor: pointer;
	background-color: lightgray;
	transition: background-color 0.2s ease;
}

.form form a {
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	padding: 0px;
}

.errors {
	text-align: center;
	margin-bottom: 12.5px;
	margin-top: -8px;
}

.error {
	color: red;
}

.errors-2 {
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 12.5px;
	background-color: red;
	color: white;
}

.errors-2 .error {
	color: white;
}

.ok{
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 12.5px;
	background-color: green;
	color: white;
}

.main-profile {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 30px;
}

.main-profile-user {
	grid-column: 1;
}

.main-profile .form-update {
	grid-column: 2 / 4;
}

.main-profile .form-update form {
	width: 95%;
}

.main-profile .form-update form fieldset legend {
	margin-left: 44%;
}

.main-profile-user {
	padding: 20px;
	text-align: center;
}

.main-profile-dades {
	background-color: white;
	padding: 0px 20px;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 10px;
	height: 237px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-profile-user h3 {
	padding-top: 5px;
	font-size: 30px;
}

.main-profile img {
	width: 236.5px;
	height: auto;
}

#form-usuari-modify {
	padding-bottom: 0px;
}

.main-profile .form-update form fieldset {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(50px, auto);
	padding: 10px 0px 0px 12px;
}

.main-profile form h2 {
	margin-bottom: 20px;
}

.main-profile table {
	border: 3px solid #ef4c23;
	border-radius: 5px;
	border-collapse: collapse;
	width: 100%;
	margin: 7px 0px 10px 0px;
}

.main-profile table th, td {
	border: 1px solid black;
	padding: 10px;
	width: 100px;
}

.main-profile table th {
	background-color: #F2F0ED;
}

/* ENTRADA */

.entrada table {
	border-collapse: collapse;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.entrada td {
	border: 2px solid black;
	padding: 10px;
	vertical-align: top;
}

.entrada strong {
	font-size: 18px;
}

.entrada span {
	color: #38383D;
	font-weight: bold;
}

.entrada .titol {
	color: #ef4c23;
	font-weight: bold;
	font-size: 30px;
}

.entrada .subtitol {
	color: orange;
    font-weight: bold;
    font-size: 20px;
}

.td-logo {
	background-color: white;
}

.logo {
	max-width: 15%;
}

.entrada .td-center {
	text-align: center;
	vertical-align: middle;
}

.entrada .img {
	max-width: 50%;
}

.entrada .info-entrada {
	width: 36.5%;
}
