<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>M8_minetest_HR</display-name>
  <welcome-file-list>
    <welcome-file>M8_minetest_servlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>M8_minetest_servlet</display-name>
    <servlet-name>M8_minetest_servlet</servlet-name>
    <servlet-class>M8_minetest_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M8_minetest_servlet</servlet-name>
    <url-pattern>/M8_minetest_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M8_minetest_login</display-name>
    <servlet-name>M8_minetest_login</servlet-name>
    <servlet-class>M8_minetest_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M8_minetest_login</servlet-name>
    <url-pattern>/M8_minetest_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M8_minetest_logout</display-name>
    <servlet-name>M8_minetest_logout</servlet-name>
    <servlet-class>M8_minetest_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M8_minetest_logout</servlet-name>
    <url-pattern>/M8_minetest_logout</url-pattern>
  </servlet-mapping>
</web-app>