@font-face {
    font-family: Century-Gothic-Regular;
    src: url("../fonts/CenturyGothicRegular/1105886371.ttf") format("truetype");
}

@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype");
}