/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient( rgba(0, 37, 196, 0.6),rgba(200, 200, 200, 0.6));
		/*linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
		
}

body {
	font-family: montserrat, arial, verdana;
}


h1, h3, h5 {
	color: rgb(0, 37, 196);
	width: 80%;
	margin: 5px auto;
	text-align: center;
	position: relative;
}


/*form styles*/
#msform {
	width: 80%;
	margin: 15px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: LightGrey;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 10px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform input[type=radio] {
	width: 12%;
}

#msform label {
	display: block;
	font-size: 15px;
	width: 100%;
	color: #2C3E50;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

#msform span {
	font-size: 14px;
	color: red;
	text-align: left;
	margin-bottom: 10px;
}

#msform .curt {
	width: 49%;
}
#msform .llarg {
	width: 100%
}


#mslang {
	width: 80%;
	margin: auto;
	text-align: right;
	position: relative;
}


/*buttons*/
.action-button {
	width: 100px;
	background: salmon;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px red;
}

#main {
	width: 80%;
	margin: auto;
	text-align:justify;
	position: relative;
}

#guestform {
	width: 80%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#guestform fieldset {
	background: LightGrey;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

#guestform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 10px;
	width: 49%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 10px;
}


/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: red;
	color: white;
}

.fa {
	font-size: 26px !important;
    font-family: "FontAwesome";
    padding-right: 18px;
    vertical-align: middle;
}

/* nav Bar*/
#navbar, #acces {
    position: relative;
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #222;
    font-size: 18px;
    font-weight: 300;
}

#navbar {
	width: 74%;
}

#acces {
	width: 24%;
}

#navbar li {
    position: relative;
    float: left;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
}

#acces li {
    position: relative;
    float: right;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
}



#navbar li a, #acces li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:before, #acces li:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #222;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0, background .2s;
}
#navbar li:hover:before, #acces li:hover:before {
    margin-top: 1px;
    border-radius: 50% 50% 0 50%;
    transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:hover,
#navbar li:hover:before,
#acces li:hover,
#acces li:hover:before {
    background: #3a3a3a;
}
#navbar li.active,
#navbar li.active:before,
#acces li.active,
#acces li.active:before {
    background: steelblue;
}

#acces img {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	z-index: 99999;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),
		0 2px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

footer p {
	font-weight: 700;
	margin-top: 25px;
	font-size: 12px;
	text-transform: uppercase;
}

a:link, a:visited, a:hover, a:active{
	font-weight: normal;
	font-size: 13px;
	color: #666;
}
