.main_menu {
  margin-top: 15.5px;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        text-decoration: none;
        color: #15294e;
        font-weight: bold;
        font-size: 20px;
        padding: 15px;
        margin-left: 5px;
      }

      a:hover {
        background-color: #fedb63;
      }
    }
  }
}

.active{
  background-color: #fedb63;
  color: blue;
}
