/* ========================
        LANDING PAGE
======================== */

@import url('https://fonts.cdnfonts.com/css/nunito');

* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}

body{
    font-family: Nunito;
    background-image: url(img/wallpaper.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedor{
    width: 80%;
    min-width: 600px;
    max-width: 1100px;
    margin: 0 auto;
}

/* ENCABEZADO (HEADER) */

header{
    background-color: #535fab;
    overflow: auto;
    padding: 30px 20px;
    color: white;
}

h1{
    float: left;
    font-size: 50px;
    font-style: italic;
    border-bottom: 1px solid white;
}

nav{
    float: right;
    margin-top: 40px;
    font-weight: bold;
}

nav ul li{
    display: inline-block;
}

nav li a{
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #a3abe2;
    color: black;
}



/* CONTENIDO PRINCIPAL (MAIN) */
main{
    padding-top: 10px;
    padding-bottom: 10px;
}

main h2{
    border-bottom: 2px solid white;
    font-size: 30px;
    color: white;
}



main h3{
    color: white;
}

main article {
    background-color: #e3e4f0;
    border: 1px solid #7f89c2;
    border-radius: 3px;
    overflow: auto;
    padding: 30px;
    margin: 15px 0px 15px 0px;
    font-size: 20px;
}

main img{
    margin-top: 5px;
}

#idiomes {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#idiomes label {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.idioma-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idioma-cont input {
    margin: 5px 10px;
    padding: 5px;
    width: 100px;
    border: 2px solid #7f89c2;
    border-radius: 5px;
    background-color: #e3e4f0;
}

.idioma-cont input:hover {
    cursor: pointer;
    background-color: #293d71;
    color: white;
}

.idioma-cont .seleccionat {
    color: white;
    background-color: #634160;
    font-weight: bold;
}

#personal h3{
    text-align: center;
    font-size: 90px;
}

#personal h4{
    text-align: center;
    font-size: 30px;
    color: rgb(226, 222, 222);
    font-style: oblique;
}

#habilitats-css{
    background-color: #e3e4f0;
    border: 1px solid #7f89c2;
    border-radius: 3px;
    overflow: auto;
    padding: 20px 0px 10px 0px;
    margin-top: 15px;
    color: black;
    text-align: center;
}

#habilitats-css .element{
    border-left: 2px solid black;
    float:left;
    width: 33.3333%;
}

#habilitats-css .element:first-child{
    border: none;
}

#habilitats-css p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#habilitats-css img{
    height: 150px;
}

article h3{
    color: black;
    font-weight: bold;
}

figure{
    float: left;
    position: relative;
}

figure img {
    width: 200px;
    margin-right: 35px;
    margin-bottom: 30px;
}

article section{
    float: right;
    width: 280px;
}

article p{
    text-align: justify;
}

#projectes p{
    margin-top: 10px;
    margin-bottom: 20px;
}

article a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}


/* PIE DE PÁGINA (FOOTER) */

footer{
    background-color: #535fab;
    overflow: auto;
    padding: 30px;
    color: white;
    text-align: center;
    clear: both;
    font-size: 20px;
}

.element{
    border-left: 2px solid white;
    float:left;
    width: 50%;
}

.element:first-child{
    border: none;
}

.pagines_externes{
	background-color: #7a80d3;
	background-image: none;
}

.footer_paginas_externes{
	background-color: #535fab;
    overflow: auto;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ========================
        FORMULARI
======================== */


#formulari form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  
}

#formulari h2 {
  text-align: center;
  color: #333;
  border: none;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#formulari input[type="submit"] {
  width: 100%;
  background-color: #293d71;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#formulari a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #007BFF;
}

.error {
  color: #FF0000;
}

.valid {
  color: #008000;
}

/* ========================
        COTITZACIONS
======================== */

table{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}

th{
	padding: 10px;
	border: 1px solid black;
	background-color: lightgray;
}

td{
	padding: 10px;
	border: 1px solid black;
	background-color: white;
}

td:first-child{
	text-align: start;
}

#cotitzacions input[type=submit]{
	background-color: #293d71;
	font-size: 20px;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.positiu{
	 color: green; 
}

.negatiu{ 
	color: red;
}

.superior{
	background-color: green;
	color: white;
}

.iguals{
	background-color:lightgray;
	color: black;
}

.inferior{
	background-color: red;
	color: white;
}
