.contact {
    background-color: var(--contact-sec-2-bg);

    .sec-c1 {
        background-color: var(--contact-sec-1-bg);
        color: var(--p);

        article {
            padding-top: 3%;

            h1 {
                margin-bottom: 1rem;
            }
    
            p {
                margin-top: 1rem;
                font-size: 1.05rem;
            }
        }
    }

    .sec-c2 {
        background-color: var(--contact-sec-2-bg);

        h2 {
            margin: 1rem 0rem;
        }

        .form-title {
            font-size: 2.5rem;
        }

        p {
            margin-bottom: 1rem;
        }

        hr {
            margin-bottom: 1rem;
            color: var(--hr);
        }

        form {
            margin-bottom: 0.9rem;
        }
    }
}