.rankings {
    .sec-r1 {
        background-color: var(--rankings-sec-1-gradient);
        background-image: linear-gradient(to right, var(--rankings-sec-1-gradient) 45%, transparent), url("../img/tetris.png");
        background-size: cover;
        background-position: center;
    
        article {
            padding-right: 45%;

            h1 {
                margin-bottom: 1rem;
            }
    
            p {
                margin-top: 1rem;
                font-size: 1.05rem;
            }
        }
    }

    .background {
        background-image: linear-gradient(to left, var(--rankings-sec-2-gradient) 35%, transparent), url("../img/celeste-rankings.jpg");
        background-size: cover;
        background-position: center;
    }

    .sec-r2 {
        .imgs {
            display: grid;
            transform-style: preserve-3d;
            animation: hex 20s linear infinite alternate;
            position: relative;
        }
          
        img {
            grid-area: 1/1;
            width: 160px;
            border: 5px solid #c9b398;
            transform: rotate(var(--r)) translateY(95%) rotateX(-90deg) scale(-1);
        }
          
        .imgs img:nth-child(1) {
            --r: 0deg;
        }
          
        .imgs img:nth-child(2) {
            --r: 60deg;
        }
          
        .imgs img:nth-child(3) {
            --r: 120deg;
        }
          
        .imgs img:nth-child(4) {
            --r: 180deg;
        }
          
        .imgs img:nth-child(5) {
            --r: 240deg;
        }
          
        .imgs img:nth-child(6) {
            --r: 300deg;
        }
          
        @keyframes hex {
            0%, 15% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(0deg);
            }
            20%, 30% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(-60deg);
            }
            35%, 50% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(-120deg);
            }
            55%, 70% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(-180deg);
            }
            75%, 85% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(-240deg);
            }
            90%, 100% {
              transform: perspective(444.44px) rotateX(-100deg) rotate(-300deg);
            }
        }
    }
}