<?xml version="1.0" encoding="UTF-8"?>
<config>
	<parameter>
		<param>paràmetre01</param>
		<value>value001</value>
	</parameter>
	<parameter>
		<param>paràmetre02</param>
		<value>value002</value>
	</parameter>
	<parameter>
		<param>paràmetre03</param>
		<value>value003</value>
	</parameter>
	<parameter>
		<param>paràmetre04</param>
		<value>value004</value>
	</parameter>
	<parameter>
		<param>paràmetre05</param>
		<value>value005</value>
	</parameter>
	<parameter>
		<param>paràmetre06</param>
		<value>value006</value>
	</parameter>
	<parameter>
		<param>paràmetre07</param>
		<value>value007</value>
	</parameter>
	<parameter>
		<param>paràmetre08</param>
		<value>value008</value>
	</parameter>
	<parameter>
		<param>paràmetre09</param>
		<value>value009</value>
	</parameter>
	<parameter>
		<param>paràmetre10</param>
		<value>value010</value>
	</parameter>
	<parameter>
		<param>paràmetre11</param>
		<value>value011</value>
	</parameter>
	<parameter>
		<param>paràmetre12</param>
		<value>value012</value>
	</parameter>
	<parameter>
		<param>paràmetre13</param>
		<value>value013</value>
	</parameter>
	<parameter>
		<param>paràmetre14</param>
		<value>value014</value>
	</parameter>
	<parameter>
		<param>paràmetre15</param>
		<value>value015</value>
	</parameter>
	<parameter>
		<param>paràmetre16</param>
		<value>value016</value>
	</parameter>
	<parameter>
		<param>paràmetre17</param>
		<value>value017</value>
	</parameter>
	<parameter>
		<param>paràmetre18</param>
		<value>value018</value>
	</parameter>
	<parameter>
		<param>paràmetre19</param>
		<value>value019</value>
	</parameter>
	<parameter>
		<param>paràmetre20</param>
		<value>value020</value>
	</parameter>
	<parameter>
		<param>paràmetre21</param>
		<value>value021</value>
	</parameter>
	<parameter>
		<param>paràmetre22</param>
		<value>value022</value>
	</parameter>
	<parameter>
		<param>paràmetre23</param>
		<value>value023</value>
	</parameter>
	<parameter>
		<param>paràmetre24</param>
		<value>value024</value>
	</parameter>
	<parameter>
		<param>paràmetre25</param>
		<value>value025</value>
	</parameter>
	<parameter>
		<param>paràmetre26</param>
		<value>value026</value>
	</parameter>
	<parameter>
		<param>paràmetre27</param>
		<value>value027</value>
	</parameter>
	<parameter>
		<param>paràmetre28</param>
		<value>value028</value>
	</parameter>
	<parameter>
		<param>paràmetre29</param>
		<value>value029</value>
	</parameter>
	<parameter>
		<param>paràmetre30</param>
		<value>value030</value>
	</parameter>
	<parameter>
		<param>paràmetre31</param>
		<value>value031</value>
	</parameter>
	<parameter>
		<param>paràmetre32</param>
		<value>value032</value>
	</parameter>
	<parameter>
		<param>paràmetre33</param>
		<value>value033</value>
	</parameter>
	<parameter>
		<param>paràmetre34</param>
		<value>value034</value>
	</parameter>
	<parameter>
		<param>paràmetre35</param>
		<value>value035</value>
	</parameter>
	<parameter>
		<param>paràmetre36</param>
		<value>value036</value>
	</parameter>
	<parameter>
		<param>paràmetre37</param>
		<value>value037</value>
	</parameter>
	<parameter>
		<param>paràmetre38</param>
		<value>value038</value>
	</parameter>
	<parameter>
		<param>paràmetre39</param>
		<value>value039</value>
	</parameter>
	<parameter>
		<param>paràmetre40</param>
		<value>value040</value>
	</parameter>
	<parameter>
		<param>paràmetre41</param>
		<value>value041</value>
	</parameter>
	<parameter>
		<param>paràmetre42</param>
		<value>value042</value>
	</parameter>
	<parameter>
		<param>paràmetre43</param>
		<value>value043</value>
	</parameter>
	<parameter>
		<param>paràmetre44</param>
		<value>value044</value>
	</parameter>
	<parameter>
		<param>paràmetre45</param>
		<value>value045</value>
	</parameter>
	<parameter>
		<param>paràmetre46
		</param>
		<value>value046</value>
	</parameter>
	<parameter>
		<param>paràmetre47
		</param>
		<value>value047</value>
	</parameter>
	<parameter>
		<param>paràmetre48
		</param>
		<value>value048</value>
	</parameter>
	<parameter>
		<param>paràmetre49
		</param>
		<value>value049
		</value>
	</parameter>
	<parameter>
		<param>paràmetre50
		</param>
		<value>value050
		</value>
	</parameter>
	<parameter>
		<param>paràmetre51
		</param>
		<value>value051
		</value>
	</parameter>
	<parameter>
		<param>paràmetre52
		</param>
		<value>value052
		</value>
	</parameter>
	<parameter>
		<param>paràmetre53
		</param>
		<value>value053
		</value>
	</parameter>
	<parameter>
		<param>paràmetre54
		</param>
		<value>value054
		</value>
	</parameter>
	<parameter>
		<param>paràmetre55
		</param>
		<value>value055
		</value>
	</parameter>
	<parameter>
		<param>paràmetre56
		</param>
		<value>value056
		</value>
	</parameter>
	<parameter>
		<param>paràmetre57
		</param>
		<value>value057
		</value>
	</parameter>
	<parameter>
		<param>paràmetre58
		</param>
		<value>value058
		</value>
	</parameter>
	<parameter>
		<param>paràmetre59
		</param>
		<value>value059
		</value>
	</parameter>
	<parameter>
		<param>paràmetre60
		</param>
		<value>value060
		</value>
	</parameter>
	<parameter>
		<param>paràmetre61
		</param>
		<value>value061
		</value>
	</parameter>
	<parameter>
		<param>paràmetre62
		</param>
		<value>value062
		</value>
	</parameter>
	<parameter>
		<param>paràmetre63
		</param>
		<value>value063
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre64
		</param>
		<value>
			value064
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre65
		</param>
		<value>
			value065
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre66
		</param>
		<value>
			value066
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre67
		</param>
		<value>
			value067
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre68
		</param>
		<value>
			value068
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre69
		</param>
		<value>
			value069
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre70
		</param>
		<value>
			value070
		</value>
	</parameter>
	<parameter>
		<param>
			paràmetre71
		</param>
		<value>
			value071
		</value>
	</parameter>
	<parameter>
		<param>paràmetre72</param>
		<value>value072</value>
	</parameter>
	<parameter>
		<param>paràmetre73</param>
		<value>value073</value>
	</parameter>
	<parameter>
		<param>paràmetre74</param>
		<value>value074</value>
	</parameter>
	<parameter>
		<param>paràmetre75</param>
		<value>value075</value>
	</parameter>
	<parameter>
		<param>paràmetre76</param>
		<value>value076</value>
	</parameter>
	<parameter>
		<param>paràmetre77</param>
		<value>value077</value>
	</parameter>
	<parameter>
		<param>paràmetre78</param>
		<value>value078</value>
	</parameter>
	<parameter>
		<param>paràmetre79</param>
		<value>value079</value>
	</parameter>
	<parameter>
		<param>paràmetre80</param>
		<value>value080</value>
	</parameter>
	<parameter>
		<param>paràmetre81</param>
		<value>value081</value>
	</parameter>
	<parameter>
		<param>paràmetre82</param>
		<value>value082</value>
	</parameter>
	<parameter>
		<param>paràmetre83</param>
		<value>value083</value>
	</parameter>
	<parameter>
		<param>paràmetre84</param>
		<value>value084</value>
	</parameter>
	<parameter>
		<param>paràmetre85</param>
		<value>value085</value>
	</parameter>
	<parameter>
		<param>paràmetre86</param>
		<value>value086</value>
	</parameter>
	<parameter>
		<param>paràmetre87</param>
		<value>value087</value>
	</parameter>
	<parameter>
		<param>paràmetre88</param>
		<value>value088</value>
	</parameter>
	<parameter>
		<param>paràmetre89</param>
		<value>value089</value>
	</parameter>
	<parameter>
		<param>paràmetre90</param>
		<value>value090</value>
	</parameter>
	<parameter>
		<param>paràmetre91</param>
		<value>value091</value>
	</parameter>
	<parameter>
		<param>paràmetre92</param>
		<value>value092</value>
	</parameter>
	<parameter>
		<param>paràmetre93</param>
		<value>value093</value>
	</parameter>
	<parameter>
		<param>paràmetre94</param>
		<value>value094</value>
	</parameter>
	<parameter>
		<param>paràmetre95</param>
		<value>value095</value>
	</parameter>
	<parameter>
		<param>paràmetre96</param>
		<value>value096</value>
	</parameter>
	<parameter>
		<param>paràmetre97</param>
		<value>value097</value>
	</parameter>
	<parameter>
		<param>paràmetre98</param>
		<value>value098</value>
	</parameter>
	<parameter>
		<param>paràmetre99</param>
		<value>value099</value>
	</parameter>
	<parameter>
		<param>paràmetre100</param>
		<value>value100</value>
	</parameter>
	<parameter>
		<param>paràmetre101</param>
		<value>value101</value>
	</parameter>
	<parameter>
		<param>paràmetre102</param>
		<value>value102</value>
	</parameter>
	<parameter>
		<param>paràmetre103</param>
		<value>value103</value>
	</parameter>
	<parameter>
		<param>paràmetre104</param>
		<value>value104</value>
	</parameter>
	<parameter>
		<param>paràmetre105</param>
		<value>value105</value>
	</parameter>
	<parameter>
		<param>paràmetre106</param>
		<value>value106</value>
	</parameter>
	<parameter>
		<param>paràmetre107</param>
		<value>value107</value>
	</parameter>
	<parameter>
		<param>paràmetre108</param>
		<value>value108</value>
	</parameter>
	<parameter>
		<param>paràmetre109</param>
		<value>value109</value>
	</parameter>
	<parameter>
		<param>paràmetre110</param>
		<value>value110</value>
	</parameter>
	<parameter>
		<param>paràmetre111</param>
		<value>value111</value>
	</parameter>
	<parameter>
		<param>paràmetre112</param>
		<value>value112</value>
	</parameter>
	<parameter>
		<param>paràmetre113</param>
		<value>value113</value>
	</parameter>
	<parameter>
		<param>paràmetre114</param>
		<value>value114</value>
	</parameter>
	<parameter>
		<param>paràmetre115</param>
		<value>value115</value>
	</parameter>
	<parameter>
		<param>paràmetre116</param>
		<value>value116</value>
	</parameter>
	<parameter>
		<param>paràmetre117</param>
		<value>value117</value>
	</parameter>
	<parameter>
		<param>paràmetre118</param>
		<value>value118</value>
	</parameter>
	<parameter>
		<param>paràmetre119</param>
		<value>value119</value>
	</parameter>
	<parameter>
		<param>paràmetre120</param>
		<value>value120</value>
	</parameter>
	<parameter>
		<param>paràmetre121</param>
		<value>value121</value>
	</parameter>
	<parameter>
		<param>paràmetre122</param>
		<value>value122</value>
	</parameter>
	<parameter>
		<param>paràmetre123</param>
		<value>value123</value>
	</parameter>
	<parameter>
		<param>paràmetre124</param>
		<value>value124</value>
	</parameter>
	<parameter>
		<param>paràmetre125</param>
		<value>value125</value>
	</parameter>
	<parameter>
		<param>paràmetre126</param>
		<value>value126</value>
	</parameter>
	<parameter>
		<param>paràmetre127</param>
		<value>value127</value>
	</parameter>
	<parameter>
		<param>paràmetre128</param>
		<value>value128</value>
	</parameter>
	<parameter>
		<param>paràmetre129</param>
		<value>value129</value>
	</parameter>
	<parameter>
		<param>paràmetre130</param>
		<value>value130</value>
	</parameter>
	<parameter>
		<param>paràmetre131</param>
		<value>value131</value>
	</parameter>
	<parameter>
		<param>paràmetre132</param>
		<value>value132</value>
	</parameter>
	<parameter>
		<param>paràmetre133</param>
		<value>value133</value>
	</parameter>
	<parameter>
		<param>paràmetre134</param>
		<value>value134</value>
	</parameter>
	<parameter>
		<param>paràmetre135</param>
		<value>value135</value>
	</parameter>
	<parameter>
		<param>paràmetre136</param>
		<value>value136</value>
	</parameter>
	<parameter>
		<param>paràmetre137</param>
		<value>value137</value>
	</parameter>
	<parameter>
		<param>paràmetre138</param>
		<value>value138</value>
	</parameter>
	<parameter>
		<param>paràmetre139</param>
		<value>value139</value>
	</parameter>
	<parameter>
		<param>paràmetre140</param>
		<value>value140</value>
	</parameter>
	<parameter>
		<param>paràmetre141</param>
		<value>value141</value>
	</parameter>
	<parameter>
		<param>paràmetre142</param>
		<value>value142</value>
	</parameter>
	<parameter>
		<param>paràmetre143</param>
		<value>value143</value>
	</parameter>
	<parameter>
		<param>paràmetre144</param>
		<value>value144</value>
	</parameter>
	<parameter>
		<param>paràmetre145</param>
		<value>value145</value>
	</parameter>
	<parameter>
		<param>paràmetre146</param>
		<value>value146</value>
	</parameter>
	<parameter>
		<param>paràmetre147</param>
		<value>value147</value>
	</parameter>
	<parameter>
		<param>paràmetre148</param>
		<value>value148</value>
	</parameter>
	<parameter>
		<param>paràmetre149</param>
		<value>value149</value>
	</parameter>
	<parameter>
		<param>paràmetre150</param>
		<value>value150</value>
	</parameter>
	<parameter>
		<param>paràmetre151</param>
		<value>value151</value>
	</parameter>
	<parameter>
		<param>paràmetre152</param>
		<value>value152</value>
	</parameter>
	<parameter>
		<param>paràmetre153</param>
		<value>value153</value>
	</parameter>
	<parameter>
		<param>paràmetre154</param>
		<value>value154</value>
	</parameter>
	<parameter>
		<param>paràmetre155</param>
		<value>value155</value>
	</parameter>
	<parameter>
		<param>paràmetre156</param>
		<value>value156</value>
	</parameter>
	<parameter>
		<param>paràmetre157</param>
		<value>value157</value>
	</parameter>
	<parameter>
		<param>paràmetre158</param>
		<value>value158</value>
	</parameter>
	<parameter>
		<param>paràmetre159</param>
		<value>value159</value>
	</parameter>
	<parameter>
		<param>paràmetre160</param>
		<value>value160</value>
	</parameter>
	<parameter>
		<param>paràmetre161</param>
		<value>value161</value>
	</parameter>
	<parameter>
		<param>paràmetre162</param>
		<value>value162</value>
	</parameter>
	<parameter>
		<param>paràmetre163</param>
		<value>value163</value>
	</parameter>
	<parameter>
		<param>paràmetre164</param>
		<value>value164</value>
	</parameter>
	<parameter>
		<param>paràmetre165</param>
		<value>value165</value>
	</parameter>
	<parameter>
		<param>paràmetre166</param>
		<value>value166</value>
	</parameter>
	<parameter>
		<param>paràmetre167</param>
		<value>value167</value>
	</parameter>
	<parameter>
		<param>paràmetre168</param>
		<value>value168</value>
	</parameter>
	<parameter>
		<param>paràmetre169</param>
		<value>value169</value>
	</parameter>
	<parameter>
		<param>paràmetre170</param>
		<value>value170</value>
	</parameter>
	<parameter>
		<param>paràmetre171</param>
		<value>value171</value>
	</parameter>
	<parameter>
		<param>paràmetre172</param>
		<value>value172</value>
	</parameter>
	<parameter>
		<param>paràmetre173</param>
		<value>value173</value>
	</parameter>
	<parameter>
		<param>paràmetre174</param>
		<value>value174</value>
	</parameter>
	<parameter>
		<param>paràmetre175</param>
		<value>value175</value>
	</parameter>
	<parameter>
		<param>paràmetre176</param>
		<value>value176</value>
	</parameter>
	<parameter>
		<param>paràmetre177</param>
		<value>value177</value>
	</parameter>
	<parameter>
		<param>paràmetre178</param>
		<value>value178</value>
	</parameter>
	<parameter>
		<param>paràmetre179</param>
		<value>value179</value>
	</parameter>
	<parameter>
		<param>paràmetre180</param>
		<value>value180</value>
	</parameter>
	<parameter>
		<param>paràmetre181</param>
		<value>value181</value>
	</parameter>
	<parameter>
		<param>paràmetre182</param>
		<value>value182</value>
	</parameter>
	<parameter>
		<param>paràmetre183</param>
		<value>value183</value>
	</parameter>
	<parameter>
		<param>paràmetre184</param>
		<value>value184</value>
	</parameter>
	<parameter>
		<param>paràmetre185</param>
		<value>value185</value>
	</parameter>
	<parameter>
		<param>paràmetre186</param>
		<value>value186</value>
	</parameter>
	<parameter>
		<param>paràmetre187</param>
		<value>value187</value>
	</parameter>
	<parameter>
		<param>paràmetre188</param>
		<value>value188</value>
	</parameter>
	<parameter>
		<param>paràmetre189</param>
		<value>value189</value>
	</parameter>
	<parameter>
		<param>paràmetre190</param>
		<value>value190</value>
	</parameter>
	<parameter>
		<param>paràmetre191</param>
		<value>value191</value>
	</parameter>
</config>