h1 {
    color: var(--h2);
    font-size: 4rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif
}

h2 {
    color: var(--h2);
    font-size: 3rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif
}

h3 {
    color: var(--h3);
    font-size: 2.5rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif
}

h4 {
    color: var(--h4);
    font-size: 1.25rem;
    font-family: Montserrat Bold, Verdana, sans-serif;
}

p {
    color: var(--p);
    font-size: 0.95rem;
    font-family: Montserrat Regular, Verdana, sans-serif;
    line-height: 1.5;
}

a {
    color: var(--a);
    font-size: 1.10rem;
    font-family: Montserrat SemiBold, Verdana, sans-serif;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px; 
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--a);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        color: var(--a-hover);
        &::after {
            transform: scaleX(1);
        }
    }
}

a.no-effects {
    &::after {
        content: none;
    }

    &:hover {
        color: var(--a);
        &::after {
            transform: none;
        }
    }
}

span {
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &:hover {
        color: var(--a-hover);
    }
}

.icon {
    color: var(--header-fg);
    font-family: "icomoon";
    font-weight: normal;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        color: var(--a-hover);
    }
}

.sub {
    color: var(--p);
    font-size: 1.25rem;
    font-weight: bold;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &:hover {
        color: var(--a-hover);
    }
}
