*:focus{
    outline: 2px solid var(--focus);
    border-radius: 5px;
}

h1 {
    color: var(--h2);
    font-size: 4rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
    font-weight: bold;
}

h2 {
    color: var(--h2);
    font-size: 1.5rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
    font-weight: bold;
}

h3 {
    color: var(--h3);
    font-size: 2.5rem;
    font-family: Trade Gothic Bold Condensed No20, Arial Narrow, sans-serif;
}

p {
    color: var(--p);
    font-size: 0.95rem;
    font-family: Montserrat Regular, Verdana, sans-serif;
    line-height: 1.5;
}

a {
    color: var(--a);
    font-size: 1.10rem;
    font-family: Montserrat SemiBold, Verdana, sans-serif;
    transition: color 0.25s ease-in-out;

    &:hover {
        color: var(--a-hover);
    }
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

blockquote {
    color: var(--p);
    font-size: 0.95rem;
    font-style: italic;
    font-weight: bold;
    font-family: Montserrat Regular, Verdana, sans-serif;
    line-height: 1.5;
}

.icon {
    color: var(--header-fg);
    font-family: "icomoon";
    font-weight: normal;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        color: var(--a-hover);
    }

    &:before {
        content: "\e9d5";
    }
}

.sub {
    color: var(--h4);
    font-size: 1.5rem !important;
    font-family: Montserrat Bold, Verdana, sans-serif;
    font-weight: bold;
}
