footer {
    background-color: var(--footer-bg);

    h2 {
        color: var(--h4);
        font-size: 1.25rem;
        font-family: Montserrat Bold, Verdana, sans-serif;
    }

    hr {
        border: 1px solid var(--hr);
        width: 100%;
    }
}