@font-face {
    font-family: Heletica-Now-Var;
    src: url("public/font/Helvetica-Now-Var/Helvetica-Now-Var.ttf") format("truetype");
}

@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype");
}