.btn {
    padding: 2.5% 5%;
    background-color: var(--btn-bg);
    color: var(--btn-fg);
    border: 1px solid var(--btn-border);
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: var(--btn-bg-hover);
        color: var(--btn-fg-hover);
    }
}