form label{
    color: #475dbe;
    display: block;
    margin-bottom: 2px;
}

label span{
    color: red;
}

input{
    margin-bottom: 15px;
    background-color: #fafafa;
    border: 1px solid #adadad;
    border-radius: 2px;
    padding: 5px;
}

button{
    margin-top: 10px;
    margin-right: 5px;
}