<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.phpunit.PHPUnitLaunchConfigurationType">
    <stringAttribute key="ATTR_FILE" value=""/>
    <stringAttribute key="ATTR_FILE_FULL_PATH" value=""/>
    <stringAttribute key="ZEND_PHPUNIT_TESTS_CONTAINER_TYPE" value="SCRIPT_FOLDER"/>
    <booleanAttribute key="firstLineBreakpoint" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="E01_Entrada"/>
    <booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="false"/>
    <booleanAttribute key="org.eclipse.php.phpunit.code_coverage" value="false"/>
    <stringAttribute key="org.eclipse.php.phpunit.container" value="src/views"/>
    <stringAttribute key="org.eclipse.php.phpunit.elementPath" value="/E01_Entrada/src/views"/>
    <stringAttribute key="org.eclipse.php.phpunit.file" value="/E01_Entrada/src/views"/>
    <booleanAttribute key="org.eclipse.php.phpunit.is_suite" value="true"/>
    <booleanAttribute key="org.eclipse.php.phpunit.logXml" value="false"/>
    <stringAttribute key="org.eclipse.php.phpunit.phpunitPath" value=""/>
    <stringAttribute key="org.eclipse.php.phpunit.project" value="E01_Entrada"/>
    <stringAttribute key="org.eclipse.php.phpunit.runType" value="PHAR_EXECUTION_TYPE"/>
</launchConfiguration>
