.main_videochat {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 75px;
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;

    .chat {
        grid-column: 1;
    }

    .video {
        grid-column: 2;
    }

    #tools {
        grid-column: 3;
    }
}
