button{
    width: 91px;
    padding: 3px;
    border-radius: 8px;
    color: var(--boto1);
    background-image: linear-gradient(0deg, var(--boto2) 0%, var(--boto3) 100%);
    border: 1px solid var(--boto4);
}