:root{
    --blanc1: #ffffff;
    --marro1: #675f55;
    --taronja1: #ec8a1b;
    --taronja2: #ef9f46;
    --taronja3: #f3ab5b;
    --taronja4: #f4cfa7;
    --gris1: #ececec;
    --gris2: #e9e9e9;
    --gris3: #bcbcbc;
    --gris4: #9a9b9c;
    --gris5: #787878;
    --gris6: #7e7e7e;
    --gris7: #666565;
    --gris8: #666666;
    --gris9: #363d40;
    --gris10: #d4d3d3;
    --gris11: #c6c6c6;
    --gris12: #cecece;
    --gris13: #e5e6e5;
    --gris14: #eaeaea;
    --gris15: #eeeeee;
    --gris16: rgba(197, 196, 196, 0.47);
    --gris17: rgba(197, 196, 196, 0.47);
    --gris18: #d7d7d7;
    --gris19: rgba(234,234,234,0.23);
    --gris20: #eeefef;
    --gris21: #dddddd;
    // -----------------------------
    --blau1: #65a4c5;
    --blau2: #77b1d1;
    --blau3: #95b9cd;
    --blau4: #a9bfcc;
    --negre1: #202123;
    --negre2: #353641;
    --negre3: #40414f;
    --negre4: #6b6c7b;
    --negre5: #2c2d35;
    --negre6: #212227;
    --negre7: rgba(46, 45, 45, 0.47);
    --negre8: rgba(91, 90, 90, 0.47);
    --negre9: rgba(90, 90, 90, 0.23);
    
    &.clar {
        --fons: var(--gris1);
        --h1: var(--gris9);
        --span-link-h2: var(--taronja1);
        --h3: var(--gris7);
        --targeta1: var(--blanc1);
        --targeta2: var(--gris2);
        --targeta3: var(--gris14);
        --targeta4: var(--gris15);
        --targeta5: var(--gris16);
        --targeta6: var(--gris17);
        --targeta7: var(--gris7);
        --nav-a: var(--gris7);
        --a-hover1: var(--taronja2);
        --a-hover2: var(--taronja3);
        --a-hover3: var(--taronja4);
        --a-hover4: var(--blanc1);
        --a-hover5: var(--marro1);
        --boto1: var(--gris5);
        --boto2: var(--gris10);
        --boto3: var(--gris2);
        --boto4: var(--gris11);
        --menu-tema1: var(--gris8);
        --menu-tema2: var(--taronja1);
        --email1: var(--blanc1);
        --email2: var(--negre1);
        --a-ot: var(--gris7);
        --client1: var(--gris13);
        --art1: var(--gris19);
        --form1: var(--gris20);
        --form2: var(--gris21);
        --as1-li1: var(--gris7);
        --as1-li2: var(--taronja1);
    }

    &.fosc {
        --fons: var(--negre1);
        --h1: var(--gris2);
        --span-link-h2: var(--blau1);
        --h3: var(--gris3);
        --targeta1: var(--negre2);
        --targeta2: var(--negre3);
        --targeta3: var(--negre6);
        --targeta4: var(--negre5);
        --targeta5: var(--negre7);
        --targeta6: var(--negre8);
        --targeta7: var(--gris3);
        --nav-a: var(--gris3);
        --a-hover1: var(--blau2);
        --a-hover2: var(--blau3);
        --a-hover3: var(--blau4); 
        --a-hover4: var(--gris9);
        --a-hover5: var(--gris3);
        --boto1: var(--gris1);
        --boto2: var(--negre4);
        --boto3: var(--gris4);
        --boto4: var(--gris5);
        --menu-tema1: var(--gris4);
        --menu-tema2: var(--blau1);
        --email1: var(--negre4);
        --email2: var(--gris1);
        --a-ot: var(--gris3);
        --client1: var(--negre4);
        --art1: var(--negre9);
        --form1: var(--negre4);
        --form2: var(--gris3);
        --as1-li1: var(--gris2);
        --as1-li2: var(--blau1);
    } 
}