.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91.5px;

  .f_nav {
    margin-top: 15.55px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        a {
          text-decoration: none;
          color: #15294e;
          font-weight: bold;
          font-size: 20px;
          padding: 20px;
        }

        a:first-child {
          padding-left: 0;
        }

        a:hover {
          color: #3822d4;
        }
      }
    }
  }
}
